In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
data=pd.read_csv('../artifacts/sentiment_analysis.csv')

In [6]:
data.head()

   id  label                                              tweet
0   1      0  #fingerprint #Pregnancy Test https://goo.gl/h1...
1   2      0  Finally a transparant silicon case ^^ Thanks t...
2   3      0  We love this! Would you go? #talk #makememorie...
3   4      0  I'm wired I know I'm George I was made that wa...
4   5      1  What amazing service! Apple won't even talk to...

In [8]:
data.shape

(7920, 3)

Data Preprocessing

In [12]:
data.duplicated().sum()

np.int64(0)

In [14]:
data.isna().sum()

id       0
label    0
tweet    0
dtype: int64

Text Preproccesing

In [16]:
import re
import string

Convert uppercase to lowercase

In [18]:
data['tweet']=data['tweet'].apply(lambda x: " ".join(x.lower() for x in x.split()))

In [19]:
data

        id  label                                              tweet
0        1      0  #fingerprint #pregnancy test https://goo.gl/h1...
1        2      0  finally a transparant silicon case ^^ thanks t...
2        3      0  we love this! would you go? #talk #makememorie...
3        4      0  i'm wired i know i'm george i was made that wa...
4        5      1  what amazing service! apple won't even talk to...
...    ...    ...                                                ...
7915  7916      0  live out loud #lol #liveoutloud #selfie #smile...
7916  7917      0  we would like to wish you an amazing day! make...
7917  7918      0  helping my lovely 90 year old neighbor with he...
7918  7919      0  finally got my #smart #pocket #wifi stay conne...
7919  7920      0  apple barcelona!!! #apple #store #bcn #barcelo...

[7920 rows x 3 columns]